body{
  background-color: MintCream;
  margin-left: 40px;
  margin-top: 40px;
  margin: <right> 40px;
  margin-bottom: auto;

  padding-top: 2.5px;
  padding: <bottom> 2.5px;

  border-color: SteelBlue;
  border-width: 4.5px;
  border-radius: 2px;
  border-style: dotted;
  
}

h1{
  color:#48D1CC;
  margin-left: 50px;
}

h2{
  color: rgb(240, 104, 50);
  margin-left: 45px;
}

p{
  border-style: dashed;
  border-width: 2.5px;

  color: midnightblue;

  margin: <left> 10px;
  padding: <top> 10px;
  padding: <bottom> 15px;
}
