header{
  font-family: Xanh Mono;
  font-size: 90%;
}

body{
  background-color: #c7f5c2;
  margin-left: 10px;
  margin-top: 10px;
  margin: <right> 10px;
  margin-bottom: auto;

  padding-top: 2.5px;
  padding: <bottom> 2.5px;

  border-color: SteelBlue;
  border-width: 4.5px;
  border-radius: 2px;
  border-style: dotted;
  
}

h1{
  color:#48D1CC;
  margin-left: 20px;
  font-family: caveat;
  font-size: 200%
  text-align: center;
}

h2{
  color: rgb(107, 61, 10);
  margin-left: 25px;
  font-family: caveat;
  text-align: center;
}

p{
  font-family: Xanh Mono;
  font-size: 100%;
  
  border-style: dashed;
  border-width: 1.5px;

  color: midnightblue;

  margin: <left> 10px;
  padding: <top> 10px;
  padding: <bottom> 15px;

  text-align: center;
}

ul{
  list-style-type: lower-alpha;
  background: color-mix(in hsl longer hue, hsl(120 100% 50%) 30%, white);
  color:  #75521f;
  margin: 5px;
}

